
#template-setting
    .content-template-setting
        button#save-setting.btn.btn-success.btn-sm.pull-right Save Change
        .mbm.clearfix
        h5.pull-left Header theme
        .pull-right
            #setting-header-dark.make-switch.switch-small(data-on='info', data-off='default', data-on-label='Dark', data-off-label='Light')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5 Sidebar Colors
        ul.sidebar-color.list-unstyled.list-inline
            li.grey.active(data-style="default")
            li.blue(data-style="blue")
            li.green(data-style="green")
            li.orange(data-style="orange")
            li.grey-blue(data-style="grey")
            li.white(data-style="white")
        .mbm.clearfix
        h5.pull-left Font
        .pull-right
            select#font-select.mts
                option(value="open-sans") Open Sans
                option(value="roboto") Roboto
                option(value="lato") Lato
                option(value="source-sans-pro") Source Sans Pro
                option(value="lora") Lora
                option(value="helvetica") Helvetica Neue
        .mbm.clearfix
        hr
        h5.pull-left Header Fixed
        .pull-right
            #setting-header-fixed.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Sidebar Collapsed
        .pull-right
            #setting-sidebar-collapsed.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Sidebar Show/Hide
        .pull-right
            #setting-sidebar-hide.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Sidebar Fixed
        .pull-right
            #setting-sidebar-fixed.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Toggle Button
            i.fa.fa-info-circle.mls(data-hover='tooltip', data-placement='top', title='Switch it then click toogle button on topbar')
        .pull-right
            #setting-toggle-status.make-switch.switch-small(data-on='success', data-off='default', data-on-label='Hide', data-off-label='Mini')
                input.switch(type='checkbox')
        .mbm.clearfix
        hr
        h5.pull-left Logo mode
        .pull-right
            #setting-logo-status.make-switch.switch-small(data-on='success', data-off='default', data-on-label='Aside', data-off-label='Top')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Layout Boxed
        .pull-right
            #setting-layout-boxed.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        h5.pull-left Menu Horizontal
        .pull-right
            #setting-horizontal-menu.make-switch.switch-small(data-on='success', data-off='default')
                input.switch(type='checkbox')
        .mbm.clearfix
        
        
        