.row
    .col-md-6
        .panel
            .panel-heading
                .caption  Line Chart Spline
            .panel-body
                h4.text-black.mbl 
                #line-chart-spline(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption  Bar Chart Stack
            .panel-body
                h4.text-black.mbl 
                #bar-chart-stack(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption Area Chart Spline
            .panel-body
                h4.text-black.mbl
                #area-chart-spline(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption  Percentiles Chart
            .panel-body
                h4.text-black.mbl
                #percentiles-chart(style="width: 100%; height:300px")
    .col-md-6
        .panel
            .panel-heading
                .caption  Line Chart
            .panel-body
                h4.text-black.mbl
                #line-chart(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption Bar Chart
            .panel-body
                h4.text-black.mbl 
                #bar-chart(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption  Area Chart
            .panel-body
                h4.text-black.mbl
                #area-chart(style="width: 100%; height:300px")
        .panel
            .panel-heading
                .caption  Pie Chart
            .panel-body
                h4.text-black.mbl
                #pie-chart(style="width: 100%; height:300px")
