.row
    .col-md-6
        .panel
            .panel-heading
                .caption Bar Chart
            .panel-body.text-center
                canvas#bar-chart(width="400", height="300", style="max-width: 100%;")
        .panel
            .panel-heading
                .caption Area Chart
            .panel-body.text-center
                canvas#polar-area-chart(width="400", height="300", style="max-width: 100%;")
        .panel
            .panel-heading
                .caption Doughnut Chart
            .panel-body.text-center
                canvas#doughnut-chart(width="400", height="300", style="max-width: 100%;")
    .col-md-6
        .panel
            .panel-heading
                .caption Line Chart
            .panel-body.text-center
                canvas#line-chart(width="400", height="300", style="max-width: 100%;")
        .panel
            .panel-heading
                .caption Radar Chart
            .panel-body.text-center
                canvas#radar-chart(width="400", height="300", style="max-width: 100%;")
        .panel
            .panel-heading
                .caption Pie Chart
            .panel-body.text-center 
                canvas#pie-chart(width="400", height="300", style="max-width: 100%;")
