.row
    .col-md-12
        .note.note-success
            strong
                i.fa.fa-tags
                |Note
            p
                | This plugins works only on Latest Chrome, Firefox, Safari, Opera & Internet Explorer 10.
        form#my-dropzone.dropzone(action='http://www.torrentplease.com/dropzone.php', ng-dropzone="")