.row
   .col-md-12
      .panel
         .panel-heading
            .caption  Basic
         .panel-body
            #viewcode-map-gdp.viewcode-example
               #world-map-gdp(style="width: 100%; height: 400px")
               button#focus-single.btn.btn-default.mtl.mrl Focus on Australia
               button#focus-multiple.btn.btn-default.mtl.mrl Focus on Australia and Japan
               button#focus-coords.btn.btn-default.mtl.mrl Focus on Cyprus
               button#focus-init.btn.btn-default.mtl.mrl Return to the initial state
   .col-md-12
      .panel
         .panel-heading
            .caption  Reverse projection
         .panel-body
            #viewcode-map-reverse.viewcode-example
               #map-reverse(style="width: 100%; height: 400px")
   .col-md-12
      .panel
         .panel-heading
            .caption  Markers on the world map
         .panel-body
            #viewcode-map-markers.viewcode-example
               #world-map-markers(style="width: 100%; height: 400px")

