.row
    .col-lg-12
        .panel
            .panel-heading
                .caption Search Result
            .panel-body
                .row
                    .col-lg-12
                        form(role="form")
                            .input-group
                                input.form-control(type="text", placeholder="loki admin")
                                .input-group-btn
                                    button.btn.btn-info Search
                        p.mtm Search results for 
                            strong 'loki admin'
                        .search-result.mtl
                            .row
                                .tabbable-line
                                    ul#myTab.nav.nav-tabs
                                        li.active
                                            a(href='#web', data-toggle='tab') Web
                                                span.badge.badge-warning.mls 8
                                        li
                                            a(href='#user', data-toggle='tab') User
                                                span.badge.badge-info.mls 14
                                    #myTabContent.tab-content
                                        #web.tab-pane.fade.in.active
                                            ul.list-group
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Loki - Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                        = " / "
                                                        a(href="#") New item
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias hic optio autem obcaecati asperiores at vero, atque doloremque veniam quis voluptatum ipsam nulla incidunt temporibus fugit possimus expedita earum! Maxime.
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls admin
                                                        span.label.label-info.mls bootstrap
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") 150+ Components Page
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit possimus enim repellendus vero, quam, neque repellat culpa inventore dignissimos laborum asperiores odio magni fugit similique doloribus. Fugit asperiores adipisci tempora.
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls responsive
                                                        span.label.label-default.mls admin
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Standard code - Html/Css/Javascript
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quaerat repudiandae, itaque tempora aspernatur quae aperiam fuga dolorum facilis libero cum, temporibus culpa veritatis debitis tempore dolore ipsa odio enim.
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls angular
                                                        span.label.label-default.mls html 
                                                        span.label.label-default.mls css3 
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque quidem quas vitae odit delectus nobis molestias est nam. Iste ad, consequatur placeat nihil eos laboriosam voluptates qui fugiat rem!
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls admin
                                                        span.label.label-default.mls bootstrap
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo maiores pariatur harum libero blanditiis quibusdam nostrum aut, iste quod aliquid officiis modi suscipit inventore voluptatem quas quasi impedit debitis! Maxime?
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls responsive
                                                        span.label.label-default.mls admin
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. A similique consectetur, fugit non dolor saepe tenetur hic officia debitis! Laborum distinctio maxime sapiente a fuga error assumenda, minima reiciendis minus?
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls angular
                                                        span.label.label-default.mls html 
                                                        span.label.label-default.mls css3
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi asperiores, ab ratione voluptatibus. Est officiis id, rem itaque molestias, hic veritatis? Expedita excepturi debitis eius ipsum deleniti libero ab odit!
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls admin
                                                        span.label.label-info.mls bootstrap
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque laborum delectus blanditiis praesentium eius eveniet ullam aperiam consequatur, aliquam, accusamus asperiores error, commodi animi quo debitis sit repudiandae, est inventore!
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls responsive
                                                        span.label.label-default.mls admin
                                                li.list-group-item
                                                    h4
                                                        a.mbm(href="#") Admin Bootstrap Template
                                                    p.cat.mbs
                                                        a(href="#") Html
                                                        = " / "
                                                        a(href="#") Admin
                                                    p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, dolorem accusamus nobis ullam error eveniet assumenda rerum nam necessitatibus nostrum eaque, eligendi reiciendis blanditiis sunt autem quo id eius deleniti?
                                                    p 
                                                        span Tag:
                                                        span.label.label-default.mls angular
                                                        span.label.label-default'.mls html 
                                                        span.label.label-default.mls css3
                                        #user.tab-pane.fade
                                            ul.list-group
                                                li.list-group-item
                                                    a(href="#").avatar.pull-left.mrs
                                                        img(src="http://api.randomuser.me/portraits/men/27.jpg").img-circle
                                                    .info
                                                        h4
                                                            a.mbm(href="#") John Doe
                                                                span.label.label-info.mls Designer
                                                        p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aliquam cumque cum itaque qui ea tempora pariatur, vero autem porro laudantium repellat tempore at veritatis, repellendus nobis voluptatem quos sequi.
                                                li.list-group-item
                                                    a(href="#").avatar.pull-left.mrs
                                                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/48.jpg").img-circle
                                                    .info
                                                        h4
                                                            a.mbm(href="#") Uxceo
                                                                span.label.label-warning.mls Developer
                                                        p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque minus asperiores, accusantium modi, quasi dicta necessitatibus labore est, temporibus et consectetur quisquam esse nulla quaerat veritatis delectus deserunt vero. Accusamus!
                                                li.list-group-item
                                                    a(href="#").avatar.pull-left.mrs
                                                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/jackmcdade/48.jpg").img-circle
                                                    .info
                                                        h4
                                                            a.mbm(href="#") Jack Mcdade
                                                                span.label.label-default.mls User
                                                        p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, ut? Nostrum aliquid earum officiis maiores rerum culpa nisi, consectetur fugiat sint a libero dolorum fugit dignissimos quidem nulla quo magnam?
                                                li.list-group-item
                                                    a(href="#").avatar.pull-left.mrs
                                                        img(src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/48.jpg").img-circle
                                                    .info
                                                        h4
                                                            a.mbm(href="#") Oliveira Simoes
                                                                span.label.label-default.mls Designer
                                                        p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nisi minus ab recusandae odio impedit unde, minima consequatur incidunt non. Expedita iure tempora officia est ullam cumque enim et autem.
                                                li.list-group-item
                                                    a(href="#").avatar.pull-left.mrs
                                                        img(src="http://api.randomuser.me/portraits/men/27.jpg").img-circle
                                                    .info
                                                        h4
                                                            a.mbm(href="#") John Doe
                                                                span.label.label-default.mls Designer
                                                        p.mbm   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quisquam incidunt delectus quas rem cumque illum ex tenetur libero, illo nisi culpa minima itaque ipsum autem non? Neque, debitis, maiores. 
                                                    
                                    
