.page-500
    .page-form
        form.form(action='index.html')
            .header-content
                h2(style="font-size: 50px") 500
                h4 Oops! Something went wrong.
                p We are fixing it!
                p Please try again later.
            .body-content
                .row
                    .col-sm-5
                        button.btn.btn-success.btn-circle.btn-block.btn-shadow.mbs(type='submit')
                            | Previous page
                    .col-sm-7.text-right
                        a.btn.btn-default.btn-circle.btn-shadow.mbs(href='index.html')
                            i.icon-arrow-left
                            | &nbsp;
                            | Return home