.row
    .col-lg-12
        .panel
            .panel-heading
                .caption Media Gallery
            .panel-body
                .gallery-pages
                    ul.list-filter.list-unstyled(style="float: left;")
                        li.filter.active(data-filter='all') All
                        li.filter(data-filter='.development') Development
                        li.filter(data-filter='.design') Design
                        li.filter(data-filter='.photography') Photography
                        li.filter(data-filter='.wordpress') Wordpress
                        li.filter(data-filter='.html') Html
                    .action-group.btn-group.pull-right.mtm.mbm
                        button.btn.btn-success.mrm
                            i.fa.fa-upload.mrs
                            | Upload
                        button.btn.btn-info.mrm
                            i.fa.fa-share-square-o.mrs
                            | Share
                        button.btn.btn-default
                            i.fa.fa-edit.mrs
                            | Edit 
                        button.btn.btn-default
                            i.fa.fa-trash-o.mrs
                            | Delete
                    .clearfix
                    .row.mix-grid.mtl
                        .col-md-4.col-lg-4.mix.wordpress
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/04.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/04.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.photography
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/01.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/01.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.html.development
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/02.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/02.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.design
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/06.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/06.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.development.html
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/05.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/05.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.photography.design
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/07.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/07.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.wordpress
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/01.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/01.jpg', alt='...')
                        
                        .col-md-4.col-lg-4.mix.design
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/10.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/10.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.photography.development
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/11.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/11.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.wordpress.html
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/12.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/12.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.wordpress.html
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/08.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/08.jpg', alt='...')
                        .col-md-4.col-lg-4.mix.html.design
                            .thumbnail
                                .caption
                                    h4 Thumbnail Headline
                                    p short thumbnail description
                                    p
                                        a.label.label-danger.mix-zoom.mrs(type='button', data-target='#lightbox-modal', data-img='http://next-themes.com/mtek/code/assets/images/03.jpg', data-toggle="modal") Zoom
                                        a.label.label-default(href='', rel='tooltip', title='Save as') Download
                                img.img-responsive(src='http://next-themes.com/mtek/code/assets/images/03.jpg', alt='...')