.page-lock-screen
    .page-form
        form.form(action='index.html')
            .header-content.text-center
                img.img-circle.mbm(src='https://s3.amazonaws.com/uifaces/faces/twitter/_russellsmith/128.jpg', alt='avatar')
                h1 Hi, Administrator !
            .body-content
                .list-group
                    .list-group-item
                        input.text-center.form-control(type='password', placeholder='Enter password')
                .row
                    .col-md-12
                        button.btn.btn-info.btn-lg.btn-circle.btn-block.btn-shadow(type='submit')
                            | Continue