.pricing-table
    .row.mtl
        .col-xs-12.col-md-6.col-lg-3
            .panel
                .panel-heading
                    .caption Basic
                .panel-body.pan.text-center
                    .the-price
                        h1
                            | $10
                            span.subscript /month
                        small 1 month FREE trial
                    table.table.mbn
                        tbody
                            tr
                                td
                                    | 1 Account
                            tr.active
                                td
                                    | 1 Project
                            tr
                                td
                                    | 100K API Access
                            tr.active
                                td
                                    | 100MB Storage
                            tr
                                td
                                    | Custom Cloud Services
                            tr.active
                                td
                                    | Weekly Reports
                .panel-footer.pal
                    p.text-muted.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fuga.
                    a.btn.btn-success.btn-block(href='javascript:void(0);', role='button') Purchase now
        .col-xs-12.col-md-6.col-lg-3
            .panel
                .ribbon-wrapper
                    .ribbon-inner Hot
                .panel-heading
                    .caption Professional
                .panel-body.pan.text-center
                    .the-price
                        h1
                            | $20
                            span.subscript /month
                        small 1 month FREE trial
                    table.table.mbn
                        tbody
                            tr
                                td
                                    | 2 Account
                            tr.active
                                td
                                    | 5 Project
                            tr
                                td
                                    | 100K API Access
                            tr.active
                                td
                                    | 200MB Storage
                            tr
                                td
                                    | Custom Cloud Services
                            tr.active
                                td
                                    | Weekly Reports
                .panel-footer.pal
                    p.text-muted.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, amet.
                    a.btn.btn-success.btn-block(href='javascript:void(0);', role='button') Purchase now
        .col-xs-12.col-md-6.col-lg-3
            .panel
                .panel-heading
                    .caption Premium
                .panel-body.pan.text-center
                    .the-price
                        h1
                            | $35
                            span.subscript /month
                        small 1 month FREE trial
                    table.table.mbn
                        tbody
                            tr
                                td
                                    | 5 Account
                            tr.active
                                td
                                    | 20 Project
                            tr
                                td
                                    | 300K API Access
                            tr.active
                                td
                                    | 500MB Storage
                            tr
                                td
                                    | Custom Cloud Services
                            tr.active
                                td
                                    | Weekly Reports
                .panel-footer.pal
                    p.text-muted.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, earum.
                    a.btn.btn-success.btn-block(href='javascript:void(0);', role='button') Purchase now
        .col-xs-12.col-md-6.col-lg-3
            .panel
                .panel-heading
                    .caption Ultimate
                .panel-body.pan.text-center
                    .the-price
                        h1
                            | $99
                            span.subscript /month
                        small 1 month FREE trial
                    table.table.mbn
                        tbody
                            tr
                                td
                                    | Unlimited Account
                            tr.active
                                td
                                    | Unlimited Project
                            tr
                                td
                                    | 3000K API Access
                            tr.active
                                td
                                    | Unlimited Storage
                            tr
                                td
                                    | Custom Cloud Services
                            tr.active
                                td
                                    | Weekly Reports
                .panel-footer.pal
                    p.text-muted.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolor.
                    a.btn.btn-success.btn-block(href='javascript:void(0);', role='button') Purchase now
