.timeline-wrapper
   ul.timeline.clearfix
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/mlane/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Diane Harris
                  small.text-muted posted a new note
                  | &nbsp; - &nbsp;
                  small.text-muted 1 days ago at 6:18am
               .post-content
                  a.post-title(href='#')
                     img(src="http://next-themes.com/mtek/code/assets/images/icon-html5.png").mrs
                     strong HTML5 Weekly: A Free, Weekly Email Newsletter
                  .summary.mts.cleafix
                     .img-wrapper
                        img(src="http://next-themes.com/mtek/code/assets/images/06.jpg").mrs
                     p Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                  .clearfix
               .action-post.mtl
                  a(href="#")
                     i.fa.fa-heart-o.mrx
                     | Like
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-comments-o.mrx
                     | Comments
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-share-square-o.mrx
                     | Share
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Ava Martin
                  small.text-muted posted a new note
                  | &nbsp; - &nbsp;
                  small.text-muted 1 days ago at 6:18am
               .post-content
                  a.post-title(href='#')
                     img(src="http://next-themes.com/mtek/code/assets/images/icon-angular.png").mrs
                     strong AngularJS Stories for Web Architects
                  .summary.mts.cleafix
                     .img-wrapper
                        img(src="http://next-themes.com/mtek/code/assets/images/02-sm.jpg").mrs
                     p Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem

                  .clearfix
               .action-post.mtl
                  a(href="#")
                     i.fa.fa-heart-o.mrx
                     | Like
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-comments-o.mrx
                     | Comments
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-share-square-o.mrx
                     | Share
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Charlotte Robinson
                  small.text-muted upload new photos
                  | &nbsp; - &nbsp;
                  small.text-muted 1 week ago at 9:18am
               .post-content.clearfix
                  .img-upload-wrap
                     img.img-responsive.mts(src="http://next-themes.com/mtek/code/assets/images/04-sm.jpg")
                     img.img-responsive.mts(src="http://next-themes.com/mtek/code/assets/images/05-sm.jpg")
                     img.img-responsive.mts(src="http://next-themes.com/mtek/code/assets/images/07-sm.jpg")
                     img.img-responsive.mts(src="http://next-themes.com/mtek/code/assets/images/09-sm.jpg")
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Sophia Lee
                  small.text-muted upload new photos
                  | &nbsp; - &nbsp;
                  small.text-muted 1 week ago at 9:18am
               .post-content
                  .row
                     .col-md-6
                        span.task-item
                           | Admin Template
                           small.pull-right.text-muted 80%
                        .progress
                           .progress-bar.progress-bar-orange(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
                              span.sr-only 80% Complete (success)
                        span.task-item
                           | Wordpress Themes
                           small.pull-right.text-muted 40%
                        .progress
                           .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                              span.sr-only 40% Complete (success)
                        span.task-item
                           | Landing Page
                           small.pull-right.text-muted 67%
                        .progress
                           .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='67', aria-valuemin='0', aria-valuemax='100', style='width: 67%;')
                              span.sr-only 67% Complete (success)
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Diane Harris
                  small.text-muted posted a new note
                  | &nbsp; - &nbsp;
                  small.text-muted 1 days ago at 6:18am
               .post-content
                  a.post-title(href='#')
                     img(src="http://next-themes.com/mtek/code/assets/images/icon-html5.png").mrs
                     strong HTML5 Weekly: A Free, Weekly Email Newsletter
                  .summary.mts.cleafix
                     .img-wrapper
                        img(src="http://next-themes.com/mtek/code/assets/images/04-sm.jpg").mrs
                     p Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                  .clearfix
               .action-post.mtl
                  a(href="#")
                     i.fa.fa-heart-o.mrx
                     | Like
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-comments-o.mrx
                     | Comments
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-share-square-o.mrx
                     | Share
      li.post-list
         .timeline-badge
            a(href="#", data-hover="tooltip", data-placement="top",  data-original-title="11 hours ago via Twitter")
         .timeline-panel
            .avatar
               img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/claudioguglieri/48.jpg')
            .post-body
               .desc
                  strong.post-user.mrs Diane Harris
                  small.text-muted posted a new note
                  | &nbsp; - &nbsp;
                  small.text-muted 1 days ago at 6:18am
               .post-content
                  a.post-title(href='#')
                     img(src="http://next-themes.com/mtek/code/assets/images/icon-html5.png").mrs
                     strong HTML5 Weekly: A Free, Weekly Email Newsletter
                  .summary.mts.cleafix
                     .img-wrapper
                        img(src="http://next-themes.com/mtek/code/assets/images/05-sm.jpg").mrs
                     p Lorem ipsum dolor sit amet, consectetur adipisicing.  Lorem ipsum dolor
                        | sit amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                        | it amet,consectetur adipisicing elit. Laudantium, quo. Lorem
                  .clearfix
               .action-post.mtl
                  a(href="#")
                     i.fa.fa-heart-o.mrx
                     | Like
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-comments-o.mrx
                     | Comments
                  | &nbsp; - &nbsp;
                  a(href="#")
                     i.fa.fa-share-square-o.mrx
                     | Share
