.row
    .col-md-12
        .panel
            .panel-heading
                .caption Projects
            .panel-body
                .table-responsive
                    table.tree-projects.table.table-striped.table-condensed.mbn
                        thead
                            tr
                                th Porjects
                                th(width='13%') Member
                                th(width='10%') Points
                                th(width='13%') Status
                                th(width='13%') Deadline
                                th(width='10%') Priority
                        tbody
                            tr.treegrid-1
                                td Project 1
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-2.treegrid-parent-1
                                td Feature 1
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-3.treegrid-parent-2
                                td
                                    a.text-link(href='#') Sed ut perspiciatis unde
                                td Corey Smith
                                td 10 Point
                                td
                                    .label.label-default Closed
                                td 03.10.2014
                                td
                                    .label.label-success Normal
                            tr.treegrid-4.treegrid-parent-2
                                td
                                    a.text-link(href='#') Omnis iste natus error sit
                                td Isabella Allen
                                td 14 Point
                                td
                                    .label.label-default Closed
                                td 03.10.2014
                                td
                                    .label.label-success Normal
                            tr.treegrid-6.treegrid-parent-1
                                td Feature 2
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-7.treegrid-parent-6
                                td
                                    a.text-link(href='#') Nemo enim ipsam voluptatem quia voluptas
                                td Ellie Adams
                                td 15 Point
                                td
                                    .label.label-warning New
                                td 03.10.2014
                                td
                                    .label.label-danger Urgent
                            tr.treegrid-8.treegrid-parent-6
                                td
                                    a.text-link(href='#') Ullam corporis suscipit laboriosam
                                td Hannah Davis
                                td 30 Point
                                td
                                    .label.label-default Closed
                                td 03.10.2014
                                td
                                    .label.label-success Normal
                            tr.treegrid-9
                                td Project 2
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-10.treegrid-parent-9
                                td Feature 1
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-11.treegrid-parent-10
                                td
                                    a.text-link(href='#') Temporibus autem quibusdam
                                td Dylan Reynolds
                                td 50 Point
                                td
                                    .label.label-warning New
                                td 03.10.2014
                                td
                                    .label.label-success Normal
                            tr.treegrid-12.treegrid-parent-10
                                td
                                    a.text-link(href='#') Nam libero tempore, cum soluta nobis
                                td Ellis Shaw
                                td 35 Point
                                td
                                    .label.label-default Closed
                                td 03.10.2014
                                td
                                    .label.label-success Normal
                            tr.treegrid-13.treegrid-parent-9
                                td Feature 2
                                td
                                td
                                td
                                td
                                td
                            tr.treegrid-14.treegrid-parent-13
                                td
                                    a.text-link(href='#') At vero eos et accusamus et iusto
                                td Hannah Graham
                                td 40 Point
                                td
                                    .label.label-warning New
                                td 03.10.2014
                                td
                                    .label.label-danger Urgent
                            tr.treegrid-15.treegrid-parent-13
                                td
                                    a.text-link(href='#') Itaque earum rerum hic tenetur
                                td Maddison Baker
                                td 47 Point
                                td
                                    .label.label-warning New
                                td 03.10.2014
                                td
                                    .label.label-success Normal


