.demo-datepaginator
    .row
        .col-md-12
            .note.note-success
                strong
                    i.fa.fa-tags
                    |Bootstrap Date Paginator
                p    A jQuery plugin which takes Twitter Bootstrap's already great pagination component and injects a bit of date based magic. In the process creating a hugely simplified and modularised way of paging date based results in your application. For more info please check out the 
                    a(href="http://jondmiles.com/bootstrap-datepaginator/" ,target="_blank") official documentation .
    .row
        .col-md-12
            .panel
                .panel-heading
                    .caption Default
                .panel-body
                    .paginator
    .row
        .col-md-12
            .panel
                .panel-heading
                    .caption On Date Selected Event Hanlder(try to select a date)
                .panel-body
                    .paginator.paginator-select.paginator-success

    .row
        .col-md-12
            .panel
                .panel-heading
                    .caption Size Date Paginator
                .panel-body
                    code .paginator-xs
                    .paginator.paginator-success.paginator-xs
                    code .paginator-sm
                    .paginator.paginator-success.paginator-sm
                    code .paginator-md
                    .paginator.paginator-success
                    code .paginator-lg
                    .paginator.paginator-success.paginator-lg
    .row
        .col-md-12
            .panel
                .panel-heading
                    .caption Color Date Paginator
                .panel-body
                    code .paginator-primary
                    .paginator.paginator-primary
                    code .paginator-info
                    .paginator.paginator-info
                    code .paginator-success
                    .paginator.paginator-success
                    code .paginator-danger
                    .paginator.paginator-danger
                    code .paginator-warning
                    .paginator.paginator-warning

