.heading-box Default Panel
.row
    .col-md-12
        .panel
            .panel-heading
                .caption Basic Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
.heading-box Panel with Actions
.row
    .col-md-4
        .panel
            .panel-heading
                .caption Panel with Search
                .tools
                    .input-icon.right
                        i.icon-magnifier
                        input.input-sm.form-control.form-control-solid(type="text", placeholder="Search...")
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel
            .panel-heading
                .caption Panel with Tabs
                .tools
                    ul.nav.nav-tabs(role="tablist")
                        li.active
                            a(href="#tab_1", data-toggle='tab') Tab 1
                        li
                            a(href="#tab_2", data-toggle='tab') Tab 2
                        li
                            a(href="#tab_3", data-toggle='tab') Tab 3
            .tab-content
                #tab_1.tab-pane.fade.in.active
                    p
                        | Raw denim you probably haven"t heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tab_2.tab-pane.fade
                    p
                        | Food truck fixie locavore, accusamus mcsweeney"s marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown.
                #tab_3.tab-pane.fade
                    p
                        | Food truck fixie locavore, accusamus mcsweeney"s marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
    .col-md-4
        .panel
            .panel-heading
                .caption Panel with Scroll
            .panel-body
                .panel-scroll
                    p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

.heading-box Panel with Colors
.row
    .col-md-4
        .panel.panel-default
            .panel-heading
                .caption Default Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel.panel-primary
            .panel-heading
                .caption Primary Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel.panel-success
            .panel-heading
                .caption Success Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel.panel-warning
            .panel-heading
                .caption Warning Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel.panel-info
            .panel-heading
                .caption Info Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
    .col-md-4
        .panel.panel-danger
            .panel-heading
                .caption Danger Panel
            .panel-body
                p Vestibulum mollis, lorem sed finibus lobortis, purus tortor aliquet lorem, at ultricies nulla nulla at dolor. Vestibulum accumsan est quis purus efficitur volutpat. Phasellus elementum erat ex, a ullamcorper velit iaculis ut. Proin eu justo quis eros mattis sollicitudin. Nam non nunc erat. Morbi efficitur luctus dolor ut feugiat. Aenean pharetra rutrum sodales. Morbi efficitur erat at ullamcorper tincidunt.
