.demo-slider
   .row
      .col-md-12
         .panel
            .panel-heading
               .caption Simple 2d slider
            .panel-body
               .row
                  .col-md-6
                     .slider-simple
                     .slider-simple-success
                     .slider-simple-info
                  .col-md-6
                     .slider-simple-danger
                     .slider-simple-warning
                     .slider-simple-primary
   .row
      .col-md-12
         .panel
            .panel-heading
               .caption Horizontal slider
            .panel-body
               .col-md-6
                  .slider-horizontal
                  .slider-horizontal-success
                  .slider-horizontal-info
               .col-md-6
                  .slider-horizontal-danger
                  .slider-horizontal-warning
                  .slider-horizontal-primary

   .row
      .col-md-6
         .panel
            .panel-heading
               .caption Vertical slider
            .panel-body.text-center
               .slider-vertical
               .slider-vertical-success
               .slider-vertical-info
               .slider-vertical-danger
               .slider-vertical-warning
               .slider-vertical-primary

      .col-md-6
         .panel
            .panel-heading
               .caption Tooltip slider
            .panel-body.text-center
               .two-dimensional-vertical

   .row
      .col-md-12
         .panel
            .panel-heading.mbl
               .caption Harmony slider sin(x)
            .panel-body
               .slider-harmony-x

