.row.mbl(ng-generaltab="")
    .col-md-12
        .heading-box Bootstrap Line Tabs
        .tabbable-line-wrapper
            .tabbable-line
                ul.nav.nav-tabs
                    li.active
                        a(href='#tab_default_1', data-toggle='tab')
                            | Tab 1
                    li
                        a(href='#tab_default_2', data-toggle='tab')
                            | Tab 2
                    li
                        a(href='#tab_default_3', data-toggle='tab')
                            | Tab 3
                .tab-content
                    #tab_default_1.tab-pane.active
                        p
                            | I'm in Tab 1.
                        p
                            | Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                        p
                            a.btn.btn-success(href='http://j.mp/metronictheme', target='_blank')
                                | Learn more...
                    #tab_default_2.tab-pane
                        p
                            | Howdy, I'm in Tab 2.
                        p
                            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                        p
                            a.btn.btn-warning(href='http://j.mp/metronictheme', target='_blank')
                                | Click for more features...
                    #tab_default_3.tab-pane
                        p
                            | Howdy, I'm in Tab 3.
                        p
                            | Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                        p
                            a.btn.btn-info(href='http://j.mp/metronictheme', target='_blank')
                                | Learn more...
.row.mbl(ng-generaltab="")
    .col-md-4
        .heading-box Default Tabs
        ul#myTab.nav.nav-tabs
            li.active
                a(href='#home', data-toggle='tab') Home
            li
                a(href='#profile', data-toggle='tab') Profile
        #myTabContent.tab-content
            #home.tab-pane.fade.in.active
                p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Wolf salvia freegan, sartorial.
            #profile.tab-pane.fade
                p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

    .col-md-4
        .heading-box Left Tabs
        .tabbable.tabs-vertical.tabs-left
            ul#myTab2.nav.nav-tabs
                li.active
                    a(href='#home4', data-toggle='tab') Home
                li
                    a(href='#profile4', data-toggle='tab') Profile
            #myTabContent2.tab-content
                #home4.tab-pane.fade.in.active
                    p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #profile4.tab-pane.fade
                    p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

    .col-md-4
        .heading-box Right Tabs
        .tabbable.tabs-right
            ul#myTab3.nav.nav-tabs
                li.active
                    a(href='#home5', data-toggle='tab') Home
                li
                    a(href='#profile5', data-toggle='tab') Profile
            #myTabContent3.tab-content
                #home5.tab-pane.fade.in.active
                    p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #profile5.tab-pane.fade
                    p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

.row(ng-generaltab="")
    .col-md-6
        .heading-box Below Tabs
        .tabbable.tabs-below
            #myTabContent1.tab-content
                #home2.tab-pane.fade.in.active
                    p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #profile2.tab-pane.fade
                    p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

            ul#myTab1.nav.nav-tabs
                li.active
                    a(href='#home2', data-toggle='tab') Home
                li
                    a(href='#profile2', data-toggle='tab') Profile
    .col-md-6
        .heading-box Justify Tabs
        ul#myTab4.nav.nav-tabs.nav-justified
            li.active
                a(href='#home6', data-toggle='tab') Home
            li
                a(href='#profile6', data-toggle='tab') Profile
            #myTabContent4.tab-content
                #home6.tab-pane.fade.in.active
                    p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #profile6.tab-pane.fade
                    p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
.heading-box Accordion
.row(ng-generaltab="")
    .col-md-6

        #accordion.panel-group.accordion
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                            i.icon-arrow
                            | What software do you recommend for making HTML?
                #collapseOne.panel-collapse.collapse.in
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                            i.icon-arrow
                            | How can I modify flash portion of the template?
                #collapseTwo.panel-collapse.collapse(style='height: 0px;')
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                            i.icon-arrow
                            | Are your templates compatible with any CMS?
                #collapseThree.panel-collapse.collapse(style='height: 0px;')
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

    .col-md-6
        #accordion2.panel-group.accordion.accordion-inline
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne2')
                            i.icon-arrow
                            | What software do you recommend for making HTML?
                #collapseOne2.panel-collapse.collapse.in
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo2')
                            i.icon-arrow
                            | How can I modify flash portion of the template?
                #collapseTwo2.panel-collapse.collapse(style='height: 0px;')
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .panel
                .panel-heading
                    h5.panel-title
                        a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion2', href='#collapseThree2')
                            i.icon-arrow
                            | Are your templates compatible with any CMS?
                #collapseThree2.panel-collapse.collapse(style='height: 0px;')
                    .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.


.row(ng-generaltab="")
    .col-md-12
        .heading-box Navbar
        nav.navbar.navbar-default(role='navigation')
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Brand
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='#') Link
                        li
                            a(href='#') Link
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Dropdown
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li
                                    a(href='#') Separated link
                                li.divider
                                li
                                    a(href='#') One more separated link
                    form.navbar-form.navbar-left(role='search')
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                        | &nbsp;
                        button.btn.btn-default(type='submit') Submit
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Link
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                | Dropdown
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Action
                                li
                                    a(href='#') Another action
                                li
                                    a(href='#') Something else here
                                li.divider
                                li
                                    a(href='#') Separated link
        .panel
            .panel-body
                h4 Home
                p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.